<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BA_Test_Model_K8s -->
      <package
            uri="org.palladiosimulator.kubernetesModel.resourceenvironment"
            class="kubernetesModel.resourceenvironment.ResourceenvironmentPackage"
            genModel="model/BA_Test_Model_K8s.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BA_Test_Model_K8s -->
      <package
            uri="org.palladiosimulator.kubernetesModel.repository"
            class="kubernetesModel.repository.RepositoryPackage"
            genModel="model/BA_Test_Model_K8s.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BA_Test_Model_K8s -->
      <package
            uri="org.palladiosimulator.kubernetesModel.k8sconcepts"
            class="kubernetesModel.k8sconcepts.K8sconceptsPackage"
            genModel="model/BA_Test_Model_K8s.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BA_Test_Model_K8s -->
      <package
            uri="org.palladiosimulator.kubernetes.kubernetesModel.system"
            class="kubernetesModel.system.SystemPackage"
            genModel="model/BA_Test_Model_K8s.genmodel"/>
   </extension>

</plugin>
